$border_color: #efefef;

@import url("normalize.css");

body {
    margin: auto;
    // padding-right: 1em;
    // padding-left: 1em;
    padding: 1em;
    max-width: 56rem;
    border-left: 1px dotted $border_color;
    border-right: 1px dotted $border_color;
    line-height: 140%;
    font-size: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

nav {
    text-align:center;
    ul {
        margin: auto;
        padding: .2em 0em;
    }

    li {
        display: inline;
        text-align: center;
        a {
            padding: .2em .8em;
        }
    }
}

a {
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}

img {
    float: left;
    margin: 0em 2em;
// for centering the image:
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
}

pre {
    border: 1px dotted gray;
    background-color: #EEEEEE;
    padding: 0.5em;
}

code {
    font-family: monospace;
}

strong {
    font-size: 105%;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    padding: .2em;
    border-bottom: 1px dotted $border_color;
    a {
        text-decoration: none;
    }
}

h1 {
    font-size: 140%;
    text-align: center;
    &.master {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: center;
        border: none;
    }
}

h2 {
    font-size: 125%;
}

h3 {
    font-size: 105%;
}

h4 {
    font-size: 95%;
    font-style: italic;
}

h5 {
    font-size: 90%;
    font-style: italic;
}


dt {
    float: left;
    clear: left;
    width: 32%;
    //text-align: right;
    font-weight: bold;
}

dd {
    margin-left: 33%;
    padding-bottom: .5em;
}

/*
p {
    margin-top: 0;
    margin-bottom: 7px;
}
*/

blockquote {
    text-align: center;
}

footer {
    padding-top: 1em;
    font-size: 80%;
    text-align: center;
}
