$header_height: 60px;
$nav_height: 120px;
$footer_height: 48px;
$background_color: gray;
$width: 720px;

@import url("normalize.css");

/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */

/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
    background-color: $background_color;
    // font-family: "Comic Sans MS";
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

body { margin: 0 }
.row, .col { overflow: hidden; position: absolute; margin: auto; /* border: 1px solid; */ }
.row { left: 0; right: 0; width: $width; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

a {
    &:link { color:blue; }
    &:visited { color:purple; }
}

header {
    @extend .row;
    top: $nav_height;

    // background: yellow;
    color: white;
    height: $header_height;
    text-align:center;
    // line-height: $header_height;
}

nav {
    @extend .row;
    top: 0;

    // background: red;
    height: $nav_height;

    color: white;

    div {
        &.left { float: left; width: 25%; }
        &.center { float:left; width: 50%; text-align:center; }
        &.right { float: right; width: 25%; text-align: right; }
    }

    ul {
        // list-style: none;
        margin: auto;
        padding: 4px 0px;
    }
    li {
        display: inline;
        text-align:center;
    }
    // a { text-decoration: none; }
}

.content {
    @extend .row;
    @extend .scroll-y;
    top: $header_height + $nav_height;
    bottom: $footer_height;

    // background:green;
}

footer {
    @extend .row;
    bottom: 0;

    // background: yellow;
    color: white;
    height: $footer_height;

    font-size: 11px;

    .left { float: left; }
    .right { float: right; }
}

@media print, screen and (max-width: 720px) {
    .row { width: auto; }
    .content { top: $header_height; bottom: 0; }
    nav { display:none; }
    footer { display:none; }
}

@media print, screen and (max-width 480px) {
    .row { width: auto; }
    .content { top: $header_height; bottom: 0; }
    nav { display:none; }
    footer { display:none; }
}
